<ion-view view-title="{{agendaNome}}">
	<ion-header-bar class="bar-calm bar bar-header disable-user-behavior">
		<div class="buttons buttons-left header-item">

			<span class="right-buttons">
				<button class="button button-icon button-clear ion-android-arrow-back" id="menu-popover" ng-click="closeModal()">
				</button>
			</span>
		</div>
	</span></div><div class="title title-center header-item">{{agendaNome}}</div>
	<div class="buttons buttons-left header-item">

			<span class="right-buttons">
				<button class="button button-icon button-clear ion-android-arrow-back" id="menu-popover" ng-click="closeModal()">
				</button>
			</span>
		</div>
</ion-header-bar>
  <ion-content>
    <h1>Testes</h1>
  </ion-content>
</ion-view>
