<ion-view view-title="{{titulo}}">
	<!-- <ion-nav-buttons side="right">
		<button class="button button-icon ion-compose" ng-click="openModal()">
		</button>
	</ion-nav-buttons> -->
	<button id="fab" class="button button-positive button-fab button-fab-bottom-right icon ion-android-add waves-effect waves-button waves-light" ng-click="openModal()">
	</button>
	<ion-content>
		<a class="card" ng-repeat="agenda in agendas track by $index" style="background-color:{{agenda.cor}};" href="#app/tarefa/{{agenda.id}}"/>
			<div class="item item-text-wrap">
				<h2>{{agenda.nome}}</h2>
			</div>
		</a>
	</ion-content>
</ion-view>
